<link rel="stylesheet" href="http://localhost:8080/styles.css" type="text/css">
<div class="container">
    <div class="row">
        <div class="col">
            <app-info-card location="{{location}}" resource="Bars"></app-info-card>
        </div>
        <div class="col">
            <app-info-card location="{{location}}" resource="Restaurants"></app-info-card>
        </div>
        <div class="col">
            <app-info-card location="{{location}}" resource="Museums"></app-info-card>
        </div>
    </div>
</div>
